doctype html
html(lang="pt-br")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="resources/css/style.css")
		// FAVICON
		link(rel='apple-touch-icon', sizes='57x57', href='resources/img/favicon/apple-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='resources/img/favicon/apple-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='resources/img/favicon/apple-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='resources/img/favicon/apple-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='resources/img/favicon/apple-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='resources/img/favicon/apple-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='resources/img/favicon/apple-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='resources/img/favicon/apple-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='180x180', href='resources/img/favicon/apple-icon-180x180.png')
		link(rel='icon', sizes='16x16', href='resources/img/favicon/android-icon-16x16.png')
		link(rel='icon', sizes='32x32', href='resources/img/favicon/android-icon-32x32.png')
		link(rel='icon', sizes='96x96', href='resources/img/favicon/android-icon-96x96.png')
		link(rel='icon', sizes='192x192', href='resources/img/favicon/android-icon-192x192.png')
		link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet')
		title Show Do Milhão - Quiz
	body
		.wrapper
			header
				span Jogo oficial
				h1 Show do Milhão
				img(src='resources/img/logo--showdomilhao.png', alt='logotipo show do milhão')
			div.card
				img(src="resources/img/silvinho.png", alt="")
				p Está preparado? Podemos começar com a primeira pergunta?
				button VAMOS LÁ, QUERO JOGAR!